<head>
  <meta charset="utf-8">
  <title>Sportágak</title>

</head>
<main>
  <table class="table">
    <thead>
      <tr>
        <th id="locations">Helyszín</th>
        <th id="address">Cím</th>
        <th id="sport">Sportágak</th>
        <th id="pricelist">Árlista</th>
        <th id="reserve">Foglalás</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id="bpsport1">
          @if (getLocationImageByIndex(0); as imageUrl) {
          <img [src]="imageUrl" class="img-bpsport1" name="bpsport1" [title]="getLocationAddressByIndex(0, '1111 Budapest, Sport utca 1')">
          }
        </td>
        <td class="address-td">{{ getLocationAddressByIndex(0, '1111 Budapest, Sport utca 1') }}</td>
        <td>
          <div class="filter-group">
            <label for="sport">Sportág:</label>
            <select class="sport-select" name="sport" onchange="updatePrice(this)">
              <option value="">-- Válassz sportágat --</option>
              <option value="tenisz">Tenisz</option>
              <option value="kosarlabda">Kosárlabda</option>
              <option value="roplabda">Röplabda</option>
              <option value="padel">Padel</option>
              <option value="foci">Nagypályás foci</option>
            </select>
          </div>
        </td>
        <td>
          <div class="filter-group" id="price-container">
            <label for="price">Ár:</label><span class="price"></span>
          </div>
        </td>
        <td>
          <div class="filter-group">
            <label for="date">Dátum:</label>
            <input type="date" id="date" name="date">
            <label for="time-from">Időpont:</label>
            <input type="time" id="time-from" name="time-from">
            <input type="time" id="time-to" name="time-to">
            <button type="button" class="reserve-btn btn btn-primary">Foglalás</button>
          </div>
        </td>
      </tr>
      <tr>
        <td id="bpsport2">
          @if (getLocationImageByIndex(1); as imageUrl) {
          <img [src]="imageUrl" class="img-bpsport2" name="bpsport2" [title]="getLocationAddressByIndex(1, '2222 Budapest, Sport tér 2')">
          }
        </td>
        <td class="address-td">{{ getLocationAddressByIndex(1, '2222 Budapest, Sport tér 2.') }}</td>
        <td>
          <div class="filter-group">
            <label for="sport">Sportág:</label>
            <select class="sport-select" name="sport" onchange="updatePrice(this)">
              <option value="">-- Válassz sportágat --</option>
              <option value="tenisz">Tenisz</option>
              <option value="kosarlabda">Kosárlabda</option>
              <option value="roplabda">Röplabda</option>
              <option value="padel">Padel</option>
              <option value="foci">Nagypályás foci</option>
            </select>
          </div>
        </td>
        <td>
          <div class="filter-group" id="price-container">
            <label for="price">Ár:</label><span class="price"></span>
          </div>
        </td>
        <td>
          <div class="filter-group">
            <label for="date">Dátum:</label>
            <input type="date" id="date" name="date">
            <label for="time-from">Időpont:</label>
            <input type="time" id="time-from" name="time-from">
            <input type="time" id="time-to" name="time-to">
            <button type="button" class="reserve-btn btn btn-primary">Foglalás</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</main>
