<head>
  <meta charset="utf-8">
  <title>Bejelentkezés</title>

</head>

    <div>
      <input type="text" class="form-control" id="usernameInput" placeholder="Felhasználónév">
    </div>
    <div>
      <input type="password" class="form-control" id="passwordInput" placeholder="Jelszó">
    </div>
    <button id="loginBtn" class="login-btn btn-primary" type="submit">Bejelentkezés</button>

    <h2>Regisztráció</h2>
    <div>
      <input type="text" class="form-control" id="regUsernameInput" placeholder="Felhasználónév">
    </div>
    <div>
      <input type="email" class="form-control" id="regEmailInput" placeholder="Email cím">
    </div>
    <div>
      <input type="password" class="form-control" id="regPasswordInput" placeholder="Jelszó">
    </div>
    <button id="registerBtn" class="register-btn btn-primary" type="submit">Regisztráció</button>