<head>
  <meta charset="utf-8">
  <title>Bejelentkezés</title>

</head>
<form [formGroup]="loginForm" (ngSubmit)="login()">

    <div>
        <label for="name" class="form-label">
            Felhasználónév
        </label>
        <input type="text" class="form-control"
        id="name" formControlName="name">
    </div>
    <div>
        <label for="password" class="form-label">
            Jelszó
        </label>
        <input type="text" class="form-control"
        id="password" formControlName="password">
    </div>

    <button class="btn btn-primary mt-2" type="submit">Belépés</button>

    <h2>Regisztráció

    </h2>

    <div>
        <label for="name" class="form-label">
            Felhasználónév
        </label>
        <input type="text" class="form-control"
        id="name" formControlName="name">
    </div>
    <div>
        <label for="email" class="form-label">
            Email cím
        </label>
        <input type="text" class="form-control"
        id="email" formControlName="email">
    </div>
    <div>
        <label for="password" class="form-label">
            Jelszó
        </label>
        <input type="text" class="form-control"
        id="password" formControlName="password">
    </div>
    <div>
        <label for="password" class="form-label">
            Jelszó újra
        </label>
        <input type="text" class="form-control"
        id="password" formControlName="password">
    </div>

    <button class="btn btn-primary mt-2" type="submit">Regisztráció</button>

</form>