<head>
  <meta charset="utf-8">
  <title>Kapcsolat</title>

</head>
    <h1>Írj üzenetet!</h1>
    <div>
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
    </div>
    <div>
      <textarea class="form-control" id="messageInput" rows="6" placeholder="Írd meg az üzeneted..."></textarea>
    </div>
    <button id="contactBtn" class="contact-btn btn-primary" type="submit">Küldés</button>
<!-- 
    <h2>Partnerek részére elérhetőség</h2>
    <p>Email cím: valami&#64;example.com</p>
    <p>Telefonszám: +36 20 987 6543</p>
    <p>Cím: 1111 Budapest, Példa utca 2.</p> -->

