/* new version */


/* old version */
/* 
 main {
    background-color: bisque;
    background-size: cover;
    text-align: center;
    padding: 40px 0;
    flex: 1;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



img {
    max-width: 200px;
    max-height: 150px;
    transition: 0.3s;
    padding: 5px;
    background-color: #d6daaa;
    display: block;
    margin: 50px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

img:hover {
    transform: scale(1.1);
}

.filter-group {
    margin-bottom: 20px;
    background-color: bisque;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.table {
  display: flex;
  box-sizing: content-box;
  flex-wrap: wrap;
  align-items: center;
  height: auto;
  justify-content: center;
  text-align: center;
  margin: 25px;
  border: none !important;
  box-shadow: none;
}

.table img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

tbody {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: bisque;
}

.table th,
.table td {
  text-align: center;
  vertical-align: middle;
  background-color: bisque;
  border: none !important;
}

.table td>* {
  margin-left: auto;
  margin-right: auto;
}

#address {
  display: none;
}

.address-td {
  display: none;
}

.price {
  /* background-color: white; * /
  font-weight: bold;
  color: black;
  padding-left: 10px;
  border: 5px;
}

label{
  background-color: #2c3e50;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  font-family: 'Poppins', sans-serif;
  margin: 5px;
}

.reserve-btn{
  background-color: #2c3e50;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  font-family: 'Poppins', sans-serif;
  margin: 5px;
}

thead {
    display: none;
}


@media (max-width: 600px) {

    img {
        height: 100px;
        transition: 0.3s;
        padding: 5px;
    }

    .table {
        width: 100%;
        overflow-x: auto;
    }

    .table th:not(:first-child),
    .table td:not(:first-child) {
        display: none;
    }

    .table tr.expanded td,
    .table tr.expanded th {
        display: block;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        padding: 10px 5px;
    }

    .table tr.expanded {
        display: table-row;
    }

    .table tr.header-row {
        display: table-row;
    }

    .table tr.expanded td,
    .table tr.expanded th {
        display: block;
        width: 100%;
        box-sizing: border-box;
        text-align: left;
        padding: 10px 5px;
    }

    .table tr.expanded td:not(:last-child),
    .table tr.expanded th:not(:last-child) {
        margin-bottom: 10px;
    }

    .table th {
        display: none;
    }
} */

